## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:516: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:517: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:518: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:519: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:520: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorflow\python\framework\dtypes.py:525: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])
C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:541: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint8 = np.dtype([("qint8", np.int8, 1)])
C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:542: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint8 = np.dtype([("quint8", np.uint8, 1)])
C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:543: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint16 = np.dtype([("qint16", np.int16, 1)])
C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:544: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_quint16 = np.dtype([("quint16", np.uint16, 1)])
C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:545: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  _np_qint32 = np.dtype([("qint32", np.int32, 1)])
C:\Users\brevi\anaconda3\envs\PythonData\lib\site-packages\tensorboard\compat\tensorflow_stub\dtypes.py:550: FutureWarning: Passing (type, 1) or '1type' as a synonym of type is deprecated; in a future version of numpy, it will be understood as (type, (1,)) / '(1,)type'.
  np_resource = np.dtype([("resource", np.ubyte, 1)])

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T15        2
T29        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [7]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE
app_replace = application_df.APPLICATION_TYPE.value_counts()
application_types_to_replace = list(app_replace[app_replace<500].index)
# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [8]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1570        1
C5200        1
C2170        1
C1248        1
C1900        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE
class_1 = application_df['CLASSIFICATION'].value_counts()
class_1f = class_1[class_1 > 1]
class_1f

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1278       10
C1238       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C0           3
C2710        3
C1234        2
C1246        2
C1256        2
C1267        2
C3200        2
Name: CLASSIFICATION, dtype: int64

In [9]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
#  YOUR CODE GOES HERE
cls_replace = application_df.CLASSIFICATION.value_counts()
classifications_to_replace = list(cls_replace[cls_replace<1000].index)
# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [12]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE
dummies_df = pd.get_dummies(application_df, columns = application_df.dtypes[application_df.dtypes=='object'].index.tolist())
dummies_df.head()

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,0,1,0,0,0,...,0,0,1,0,0,0,0,0,1,0

In [13]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
features = dummies_df.drop(columns='IS_SUCCESSFUL', axis=1)
target = dummies_df['IS_SUCCESSFUL']
# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(features, target, random_state=42)

In [14]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [21]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE

nn = tf.keras.models.Sequential()

# First hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=16, activation="relu", input_dim=43))
# Second hidden layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=16, activation="relu"))
# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))
# Check the structure of the model
nn.summary()

Model: "sequential_2"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_3 (Dense)              (None, 16)                704
_________________________________________________________________
dense_4 (Dense)              (None, 16)                272
_________________________________________________________________
dense_5 (Dense)              (None, 1)                 17
=================================================================
Total params: 993
Trainable params: 993
Non-trainable params: 0
_________________________________________________________________

In [22]:
# Compile the model
#  YOUR CODE GOES HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [23]:
# Train the model
#  YOUR CODE GOES HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
25724/25724 [==============================] - 1s 33us/sample - loss: 0.5895 - acc: 0.7090
Epoch 2/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5593 - acc: 0.7280
Epoch 3/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5549 - acc: 0.7285
Epoch 4/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5532 - acc: 0.7281
Epoch 5/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5520 - acc: 0.7288
Epoch 6/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5509 - acc: 0.7291
Epoch 7/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5508 - acc: 0.7294
Epoch 8/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5503 - acc: 0.7297
Epoch 9/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5491 - acc: 0.7316
Epoch 10/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5485 - acc: 0.7302
Epoch 11/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5483 - acc: 0.7306
Epoch 12/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5477 - acc: 0.7311
Epoch 13/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5480 - acc: 0.7306
Epoch 14/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5470 - acc: 0.7330
Epoch 15/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5471 - acc: 0.7313
Epoch 16/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5470 - acc: 0.7316
Epoch 17/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5463 - acc: 0.7319
Epoch 18/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5463 - acc: 0.7309
Epoch 19/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5460 - acc: 0.7319
Epoch 20/100
25724/25724 [==============================] - 1s 30us/sample - loss: 0.5462 - acc: 0.7304
Epoch 21/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5458 - acc: 0.7326
Epoch 22/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5455 - acc: 0.7334
Epoch 23/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5453 - acc: 0.7337
Epoch 24/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5448 - acc: 0.7320
Epoch 25/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5452 - acc: 0.7324
Epoch 26/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5447 - acc: 0.7322
Epoch 27/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5445 - acc: 0.7341
Epoch 28/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5448 - acc: 0.7342
Epoch 29/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5443 - acc: 0.7335
Epoch 30/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5443 - acc: 0.7336
Epoch 31/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5444 - acc: 0.7329
Epoch 32/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5440 - acc: 0.7346
Epoch 33/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5440 - acc: 0.7340
Epoch 34/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5439 - acc: 0.7334
Epoch 35/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5436 - acc: 0.7329
Epoch 36/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5437 - acc: 0.7330
Epoch 37/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5436 - acc: 0.7343
Epoch 38/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5434 - acc: 0.7334
Epoch 39/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5433 - acc: 0.7327
Epoch 40/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5434 - acc: 0.7327
Epoch 41/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5432 - acc: 0.7346
Epoch 42/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5428 - acc: 0.7338
Epoch 43/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5429 - acc: 0.7348
Epoch 44/100
25724/25724 [==============================] - 1s 51us/sample - loss: 0.5425 - acc: 0.7344
Epoch 45/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5430 - acc: 0.7327
Epoch 46/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5428 - acc: 0.7352
Epoch 47/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5425 - acc: 0.7345
Epoch 48/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5430 - acc: 0.7339
Epoch 49/100
25724/25724 [==============================] - 1s 30us/sample - loss: 0.5424 - acc: 0.7350
Epoch 50/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5424 - acc: 0.7356
Epoch 51/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5421 - acc: 0.7354
Epoch 52/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5419 - acc: 0.7352
Epoch 53/100
25724/25724 [==============================] - 1s 32us/sample - loss: 0.5421 - acc: 0.7351
Epoch 54/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5416 - acc: 0.7351
Epoch 55/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5416 - acc: 0.7345
Epoch 56/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5412 - acc: 0.7346
Epoch 57/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5412 - acc: 0.7364
Epoch 58/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5415 - acc: 0.7358
Epoch 59/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5412 - acc: 0.7352
Epoch 60/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5415 - acc: 0.7357
Epoch 61/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5411 - acc: 0.7345
Epoch 62/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5413 - acc: 0.7368
Epoch 63/100
25724/25724 [==============================] - 1s 37us/sample - loss: 0.5408 - acc: 0.7363
Epoch 64/100
25724/25724 [==============================] - 1s 36us/sample - loss: 0.5412 - acc: 0.7347
Epoch 65/100
25724/25724 [==============================] - 1s 31us/sample - loss: 0.5406 - acc: 0.7350
Epoch 66/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5408 - acc: 0.7356
Epoch 67/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5407 - acc: 0.7346
Epoch 68/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5406 - acc: 0.7362
Epoch 69/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5407 - acc: 0.7358
Epoch 70/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5405 - acc: 0.7353
Epoch 71/100
25724/25724 [==============================] - 1s 28us/sample - loss: 0.5404 - acc: 0.7357
Epoch 72/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5403 - acc: 0.7356
Epoch 73/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5402 - acc: 0.7348
Epoch 74/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5404 - acc: 0.7363
Epoch 75/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5403 - acc: 0.7367
Epoch 76/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5404 - acc: 0.7365
Epoch 77/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5403 - acc: 0.7358
Epoch 78/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5404 - acc: 0.7353
Epoch 79/100

25724/25724 [==============================] - 1s 35us/sample - loss: 0.5400 - acc: 0.7359
Epoch 80/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5404 - acc: 0.7359
Epoch 81/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5398 - acc: 0.7366
Epoch 82/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5402 - acc: 0.7365
Epoch 83/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5397 - acc: 0.7367
Epoch 84/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5396 - acc: 0.7370
Epoch 85/100
25724/25724 [==============================] - 1s 27us/sample - loss: 0.5395 - acc: 0.7360
Epoch 86/100
25724/25724 [==============================] - 1s 29us/sample - loss: 0.5398 - acc: 0.7356
Epoch 87/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5396 - acc: 0.7351
Epoch 88/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5395 - acc: 0.7365
Epoch 89/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5399 - acc: 0.7361
Epoch 90/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5397 - acc: 0.7361
Epoch 91/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5398 - acc: 0.7369
Epoch 92/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5397 - acc: 0.7358
Epoch 93/100
25724/25724 [==============================] - 1s 24us/sample - loss: 0.5397 - acc: 0.7366
Epoch 94/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5398 - acc: 0.7360
Epoch 95/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5396 - acc: 0.7363
Epoch 96/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5395 - acc: 0.7368
Epoch 97/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5395 - acc: 0.7357
Epoch 98/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5395 - acc: 0.7367
Epoch 99/100
25724/25724 [==============================] - 1s 26us/sample - loss: 0.5394 - acc: 0.7361
Epoch 100/100
25724/25724 [==============================] - 1s 25us/sample - loss: 0.5394 - acc: 0.7368

In [24]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

8575/8575 - 0s - loss: 0.5556 - acc: 0.7280
Loss: 0.5556456124713053, Accuracy: 0.7280466556549072

In [28]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE
nn.save("DeepLearning.h5")

ImportError: `save_model` requires h5py.